{{ define "main" }}
  {{ $pages := where site.RegularPages "Type" "posts" }}

  <section class="archive__section">
    <ul class="archive__header">
      <li>
        <span class="archive__title">
          <span class="archive__icon">{{ partial "icon.html" "tags" }}</span>
          {{- .Title -}}
        </span>
      </li>
    </ul>
    {{/*  timeline 时间线  */}}
    <ul class="timeline timeline-vertical">
      {{ range $yearKey, $yearValue := $pages.GroupByDate "2006" }}
        <li>
          <div class="archive__year">{{ $yearValue.Key }}</div>
          <hr />
        </li>
        {{ range $monthKey, $monthValue := .Pages.GroupByDate "01" }}
          <li>
            <hr />
            <div class="{{ if (mod $monthKey 2) }}archive__month--right{{ else }}archive__month--left{{ end }}">{{ $monthValue.Key }}</div>
            <hr />
          </li>
          {{ range .Pages }}
            <li>
              <hr />
              <div class="{{ if (mod $monthKey 2) }}archive__page--right{{ else }}archive__page--left{{ end }}">
                <h5 class="archive__page-title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
                <div class="archive__page-meta">{{ .Date.Format "2006-01-01" }} <time>{{ .ReadingTime }} 分钟</time></div>
              </div>
              <hr />
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    </ul>
  </section>
{{ end }}
