{{ define "main" }}
  {{ $pages := where site.RegularPages "Type" "posts" }}

  <section class="basic-responsive-width py-8">
    <h3 class="text-2xl">{{ .Title }}</h3>
    <div class="w-full flex flex-col">
      {{ range $pages.GroupByDate "2006" }}
        <div class="pl-4">
          <h4 class="text-xl my-4">{{ .Key }}</h4>
          {{ range .Pages.GroupByDate "01" }}
            <div class="w-full flex py-4 pl-4 gap-x-4 border-b">
              <h5 class="text-lg">{{ .Key }}</h5>
              <ul class="flex-1">
                {{ range .Pages }}
                  <li class="my-2">
                    <h5 class="text-base mb-2"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h5>
                    {{ $categories := .GetTerms "categories" }}
                    {{ $tags := .GetTerms "tags" }}
                    {{ if or $categories $tags }}
                      <nav class="flex gap-4 text-sm">
                        <div class="text-gray-400">{{ .Date.Format "2006-01-01" }} <time>{{ .ReadingTime }} 分钟</time></div>
                        {{ if $categories }}
                          {{ partial "article_links" (dict "icon" "hash" "links" $categories) }}
                        {{ end }}
                        {{ if $tags }}
                          {{ partial "article_links" (dict "icon" "tag" "links" $tags) }}
                        {{ end }}
                      </nav>
                    {{ end }}                    
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
