<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="w-full bg-slate-100">
  <header class="h-16 border-b fixed top-0 left-0 right-0 flex-cross-center bg-slate-100 z-50">
    {{ partial "header.html" . }}
  </header>
  <main class="w-full flex-col-center my-16">
    <div class="basic-responsive-width">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{/*  <footer class="h-16 bg-slate-100 border-t fixed bottom-0 left-0 right-0 flex-cross-center">
    {{ partial "footer.html" . }}
  </footer>  */}}
</body>
</html>
