{{ define "main" }}
  
  {{/*  是否分类页面  */}}
  {{ $isTaxonomy := eq .Kind "taxonomy" }}
  {{/*  是否术语页面  */}}
  {{ $isTerm := eq .Kind "term" }}

  <section class="list">
    {{ if $isTerm }}
      {{/*  术语页面  */}}
      {{ $paginator := (.Paginate .Pages 5) }}
      <h3 class="text-2xl">
        <a href="{{ .Parent.RelPermalink }}">{{ .Parent.Name }}</a>
        <sup>{{ printf "%s" ">>" }}</sup>
        <a href="{{ .RelPermalink }}">{{ .Name }}</a>
      </h3>
      {{/*  {{ partial "article.html" $paginator.Pages }}  */}}
      {{ range $paginator.Pages }}
        {{ partial "blog.html" . }}
      {{ end }}
      {{ partial "pagination.html" $paginator }}
    {{ else if $isTaxonomy }}
      {{/*  分类页面  */}}
      {{/* 复数分类名称 */}}
      {{ $taxonomyName := .Data.Plural }}
      {{/* { term: weightedPages } */}}
      {{ $taxonomyObject := .Data.Terms }}
      {{/* 是否是分类页面 */}}
      {{ $isCategories := eq (lower $taxonomyName) "categories" }}
      {{/* 是否是标签页面 */}}
      {{ $isTags := eq (lower $taxonomyName) "tags" }}

      {{ if $isCategories }}
        {{ partial "taxonomy_categories.html" (dict "taxonomy" $taxonomyObject "title" .Title) }}
      {{ else if $isTags }}
        {{ partial "taxonomy_tags.html" $taxonomyObject }}
      {{ end }}

    {{ end }}
  </section>
{{ end }}

{{/*
  分类页面
  context: .Data.Terms
*/}}
{{ define "partials/taxonomy_categories.html" }}
  {{ $taxonomyObj := .taxonomy }}
  {{ $title := .title }}
  <ul class="list__taxonomy-category">
    <li>
      <span class="list__taxonomy-title">
        <span class="list__taxonomy-icon">{{ partial "icon" "folder" }}</span>
        {{ $title }}
      </span>
      <ul>
        {{ range $taxonomyName, $weightedPages := $taxonomyObj }}
          <li class="list__taxonomy-category-li">
            <a class="list__taxonomy-category-a" href="{{ .Page.RelPermalink }}">
              {{- partial "icon" "paper" -}}
              {{- .Page.LinkTitle -}}
              <span class="list__taxonomy-category-num">{{ .Count }}</span>
            </a>
          </li>
        {{ end }}
      </ul>
    </li>
  </ul>
{{ end }}

{{/*  
  标签页面
  context: .Data.Terms
*/}}
{{ define "partials/taxonomy_tags.html" }}
  {{ $taxonomyObj := . }}
  <ul class="py-4 w-full flex gap-4 flex-wrap">
    {{ range $taxonomyObj }}
      <li class="h-16 flex-row-center px-4 hover:bg-gray-100 transition-colors rounded-xl">
        <h3 class="text-xl flex-1">
          {{ partial "icon.html" "tag" }}
          <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
        </h3>
        <sup class="font-bold text-base italic">{{ .Count }}</sup>
      </li>
    {{ end }}
  </ul>
{{ end }}
