{{ define "main" }}
  
  {{/*  是否分类页面  */}}
  {{ $isTaxonomy := eq .Kind "taxonomy" }}
  {{/*  是否术语页面  */}}
  {{ $isTerm := eq .Kind "term" }}
  {{/* 复数分类名称 */}}
  {{ $taxonomyName := .Data.Plural }}
  {{/* 是否是分类页面 */}}
  {{ $isCategories := eq (lower $taxonomyName) "categories" }}
  {{/* 是否是标签页面 */}}
  {{ $isTags := eq (lower $taxonomyName) "tags" }}

  <section class="list">
    {{ if $isTerm }}
      {{/*  术语页面  */}}
      {{ $paginator := (.Paginate .Pages 5) }}

      <div class="list__terms-title">
        <ul>
          <li>
            <a href="{{ .Parent.RelPermalink }}">
              <span class="list__terms-parent-icon">
                {{ if $isCategories }}
                  {{ partial "icon.html" "folder" }}
                {{ else if $isTags }}
                  {{ partial "icon.html" "tags" }}
                {{ end }}
              </span>
              {{- .Parent.Name -}}
            </a>
          </li>
          <li>
            <a>
              <span class="list__terms-current-icon">
                {{ if $isCategories }}
                  {{ partial "icon.html" "paper" }}
                {{ else if $isTags }}
                  {{ partial "icon.html" "tag" }}
                {{ end }}
              </span>
              {{- .Name -}}
            </a>
          </li>
        </ul>
      </div>

      <div class="list__terms-blog">
        {{ range $paginator.Pages }}
          {{ partial "blog.html" . }}
        {{ end }}
        {{ partial "pagination.html" $paginator }}
      </div>

    {{ else if $isTaxonomy }}
      {{/*  分类页面  */}}
      {{/* { term: weightedPages } */}}
      {{ $taxonomyObject := .Data.Terms }}

      {{ if $isCategories }}
        {{ partial "taxonomy_categories.html" (dict "taxonomy" $taxonomyObject "title" .Title) }}
      {{ else if $isTags }}
        {{ partial "taxonomy_tags.html" (dict "taxonomy" $taxonomyObject "title" .Title) }}
      {{ end }}

    {{ end }}
  </section>
{{ end }}

{{/*
  分类页面
  context: .Data.Terms
*/}}
{{ define "partials/taxonomy_categories.html" }}
  {{ $taxonomyObj := .taxonomy }}
  {{ $title := .title }}
  <ul class="list__taxonomy-category">
    <li>
      <span class="list__taxonomy-title">
        <span class="list__taxonomy-icon">{{ partial "icon" "folder" }}</span>
        {{ $title }}
      </span>
      <ul>
        {{ range $taxonomyName, $weightedPages := $taxonomyObj }}
          <li class="list__taxonomy-category-li">
            <a class="list__taxonomy-category-a" href="{{ .Page.RelPermalink }}">
              {{- partial "icon" "paper" -}}
              {{- .Page.LinkTitle -}}
              <span class="list__taxonomy-category-num">{{ .Count }}</span>
            </a>
          </li>
        {{ end }}
      </ul>
    </li>
  </ul>
{{ end }}

{{/*  
  标签页面
  context: .Data.Terms
*/}}
{{ define "partials/taxonomy_tags.html" }}
  {{ $taxonomyObj := .taxonomy }}
  {{ $title := .title }}
  <ul class="list__taxonomy-category">
    <li>
      <span class="list__taxonomy-title">
        <span class="list__taxonomy-icon">{{ partial "icon.html" "tags" }}</span>
        {{ $title }}
      </span>
    </li>
  </ul>
  <div class="list__taxonomy-tag-contain">
    {{ range $taxonomyObj }}
      <button class="list__taxonomy-tag-btn">
        <span class="list__taxonomy-tag-icon">{{ partial "icon.html" "tag" }}</span>
        <span>{{ .Page.LinkTitle }}</span>
        <sup class="font-bold text-base italic">&nbsp;{{ .Count }}</sup>
        <a class="list__taxonomy-tag-link" href="{{ .Page.RelPermalink }}"></a>
      </button>
    {{ end }}
  </div>
{{ end }}
