{{ define "main" }}
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format "2006-01-01" }}
  {{ $hasTocData := .Fragments.Headings }}
  <section class="basic-responsive-width py-8 relative">
    <article class="{{ if $hasTocData }}mr-[350px]{{ end }}">
      <h1 class="text-4xl my-8">{{ .Title }}</h1>
      <time class="mb-4 inline-block" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <div class="prose max-w-none">{{.Content }}</div>
    </article>
    <div
      class="fixed right-[max(0px,calc(50%-36rem))] top-32 bottom-36 prose prose-a:no-underline prose-ul:list-none prose-li:pl-0 prose-ul:pl-4 w-[325px] overflow-y-auto">
      {{ .TableOfContents }}
    </div>
    <div class="fixed right-[max(0px,calc(50%-34rem))] bottom-20">
      {{ partial "top.html" }}
    </div>
  </section>
{{ end }}
