/* list 样式 */

.list {
  @apply common__responsive-width pt-4 m-auto;
}

.list__taxonomy-title {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.list__taxonomy-icon {
  @apply mr-2;
}

.list__taxonomy-category {
  @apply menu menu-lg bg-base-200 rounded-lg;
  background-color: unset;
}

.list__taxonomy-category-num {
  @apply text-2xl;
}

.list__taxonomy-category-li {
  @apply my-1;
}

.list__taxonomy-category-a span {
  @apply top-0;
}

.list__terms-title {
  @apply text-2xl breadcrumbs;
}

.list__terms-title>ul>li+*:before,
.list__terms-title>ol>li+*:before {
  height: 0.5625rem;
  width: 0.5625rem;
  border-top-width: 2px;
  border-right-width: 2px;
}

.list__terms-parent-icon {
  @apply mr-4;
}

.list__terms-current-icon {
  @apply mr-2;
}

.list__terms-blog {
  @apply pt-4 flex flex-col gap-8;
}
