{{/*  
  博客卡片预览:
  - 标题
  - 创建时间、阅读时间
  - 摘要
  - 分类、标签

  context: .Pages

*/}}

{{ $pages := . }}

{{ range $pages }}
  <article class="w-full bg-slate-50 px-4 my-4 rounded-2xl border">
    {{/* 头部: 文章标题、发表时间、最后一次修改时间 */}}
    <h2 class="text-2xl my-4">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>

    <div class="text-sm text-gray-400 flex-row-center gap-4 my-4">
      <time>{{ .PublishDate.Format "2006-01-02" }}</time>
      <time>{{ .ReadingTime }} 分钟</time>
    </div>

    <p class="my-4">
      {{- .Summary | plainify | htmlUnescape -}}
    </p>
    
    {{ $categories := .GetTerms "categories" }}
    {{ $tags := .GetTerms "tags" }}

    {{ if or $categories $tags }}
      <nav class="flex my-4 gap-4">
        {{/* 分类链接 */}}
        {{ if $categories }}
          {{partial "article_links" (dict "icon" "hash" "links" $categories) }}
        {{ end }}
        {{/* 标签链接 */}}
        {{ if $tags }}
          {{ partial "article_links" (dict "icon" "tag" "links" $tags) }}
        {{ end }}
      </nav>
    {{ end }}
  </article>
{{ end }}

{{/*  
  icon
  links
*/}}
{{ define "partials/article_links" }}
  {{ $links := .links }}
  {{ $iconName := .icon }}
  {{ if $links }}
    <div class="flex-row-center text-gray-400">
      {{ partial "icon.html" $iconName }}
      <ul class="flex gap-4 ml-1">
        {{ range $links }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
