{{/*  博客卡片  */}}
{{/*  BUG: 卡片宽度变化时，分类、标签堆叠换行样式修正  */}}

{{ $post := . }}

<div class="blog__contain">
  {{ with .Params.cover }}
    <div class="blog__cover">
      <div class="blog__cover-contain">
        <img class="blog__cover-img" loading="lazy" src="{{ path.Join $post.RelPermalink . }}" alt="封面" />
      </div>
    </div>
  {{ end }}
  
  <div class="blog__content">
    <div class="blog__title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
    <div class="blog__meta"><time>{{ .PublishDate.Format "2006-01-02" }}</time><time>{{ .ReadingTime }} 分钟</time></div>
    <div class="blog__summary">{{- .Summary | plainify | htmlUnescape -}}</div>

    {{ $categories := .GetTerms "categories" }}
    {{ $tags := .GetTerms "tags" }}
    {{ if or $categories $tags }}
      <div class="blog__terms">
        {{ with $categories }}
          <div class="blog__terms-contain">
            <div class="blog-terms__icon">{{ partial "icon" "hash" }}</div>
            {{partial "partials/blog-terms" . }}
          </div>
        {{ end }}
        {{ with $tags }}
          <div class="blog__terms-contain">
            <div class="blog-terms__icon">{{ partial "icon" "tag" }}</div>
            {{partial "partials/blog-terms" . }}
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>

{{/*  
  context: .GetTerms "categories"
*/}}
{{ define "partials/blog-terms" }}

  {{ $records := . }}
  {{ $limit := default 3 site.Params.terms_link_num }}
  {{ $showMore := gt (len $records) $limit }}
  
  {{ if $showMore }}
    {{ $remains := sub (len $records) $limit }}
    <ul role="button" class="blog-terms__dropdown dropdown dropdown-bottom dropdown-hover">
      {{ range first $limit $records }}
        <li class="blog-terms__li">{{- .LinkTitle -}}</li>
      {{ end }}
      <li class="blog-terms__li--more">{{ $remains }}+</li>
      <ul tabindex="0" class="blog-terms__dropdown-menus">
        {{ range $records }}
          <li><a href="{{ .RelPermalink }}">{{- .LinkTitle -}}</a></li>
        {{ end }}
      </ul>
    </ul>
  {{ else }}
    <ul class="blog-terms__ul blog-terms__ul--expandable">
      {{ range $records }}
        <li class="blog-terms__li">
          {{- .LinkTitle -}}
          <a class="blog-terms__a" href="{{ .RelPermalink }}"></a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
