{{/*  博客卡片  */}}

{{ $post := . }}

<div class="blog__contain">
  {{ with .Params.cover }}
    <div class="blog__cover">
      <img class="blog__cover-img" loading="lazy" src="{{ path.Join $post.RelPermalink . }}" alt="封面" />
    </div>
  {{ end }}
  
  <div class="blog__content">
    <div class="blog__title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
    <div class="blog__meta"><time>{{ .PublishDate.Format "2006-01-02" }}</time><time>{{ .ReadingTime }} 分钟</time></div>
    <div class="blog__summary">{{- .Summary | plainify | htmlUnescape -}}</div>

    {{ $categories := .GetTerms "categories" }}
    {{ $tags := .GetTerms "tags" }}
    {{ if or $categories $tags }}
      <div class="flex-row-center gap-2">
        {{ with $tags }}
          <div class="flex-row-center text-2xl text-gray-400">{{ partial "icon" "tag" }}</div>
          {{partial "partials/blog-card__link" . }}
        {{ end }}
        {{ with $categories }}
          <div class="flex-row-center text-2xl text-gray-400">{{ partial "icon" "hash" }}</div>
          {{partial "partials/blog-card__link" . }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>

{{/*  
  context: .GetTerms "categories"
*/}}
{{ define "partials/blog-card__link" }}

  {{ $records := . }}
  {{ $limit := default 4 site.Params.terms_link_num }}
  {{ $showMore := gt (len $records) $limit }}
  
  {{ if $showMore }}
    {{ $remains := sub (len $records) $limit }}
    <ul class="-space-x-8 dropdown dropdown-bottom dropdown-hover cursor-pointer">
      {{ range first $limit $records }}
        <li class="blog-card-link-li">{{ .LinkTitle }}</li>
      {{ end }}
      <li class="text-center py-1 px-2 rounded-md border w-16 bg-teal-50 inline-block relative">{{ $remains }}+</li>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow-md bg-base-100 rounded-lg max-h-[230px] z-[1] overflow-y-auto block">
        {{ range $records }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    </ul>
  {{ else }}
    <ul class="-space-x-8 hover:-space-x-0 term-categories">
      {{ range $records }}
        <li class="blog-card-link-li">
          {{ .LinkTitle }}
          <a class="absolute top-0 bottom-0 left-0 right-0" href="{{ .RelPermalink }}"></a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
