{{/*  博客卡片  */}}

{{ $post := . }}

<div class="border flex rounded-xl">
  {{ with .Params.cover }}
    <div class="h-64 w-64 rounded-l-xl overflow-hidden">
      <img class="w-full h-full object-cover transition-transform hover:scale-110" loading="lazy" src="{{ path.Join $post.RelPermalink . }}" alt="封面">
    </div>
  {{ end }}
  
  <div class="p-4 flex flex-col flex-1">
    <div class="text-2xl pb-4"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
    <div class="text-sm text-gray-400 flex-row-center gap-4 pb-4">
      <time>{{ .PublishDate.Format "2006-01-02" }}</time>
      <time>{{ .ReadingTime }} 分钟</time>
    </div>
    <div class="flex-1 pb-4">{{- .Summary | plainify | htmlUnescape -}}</div>

    {{ $categories := .GetTerms "categories" }}
    {{ $tags := .GetTerms "tags" }}
    {{ if or $categories $tags }}
      <div class="flex-row-center gap-2">
        {{ with $tags }}
          <div class="flex-row-center text-2xl text-gray-400">{{ partial "icon" "tag" }}</div>
          {{partial "partials/blog-card__link" . }}
        {{ end }}
        {{ with $categories }}
          <div class="flex-row-center text-2xl text-gray-400">{{ partial "icon" "hash" }}</div>
          {{partial "partials/blog-card__link" . }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>

{{/*  
  context: .GetTerms "categories"
*/}}
{{ define "partials/blog-card__link" }}

  {{ $records := . }}
  {{ $showMore := gt (len $records) 4 }}
  
  {{ if $showMore }}
    {{ $remains := add (len $records) -4 }}
    <ul class="-space-x-8 dropdown dropdown-bottom dropdown-hover cursor-pointer">
      {{ range first 4 $records }}
        <li
          class="py-1 px-2 rounded-md border bg-teal-50 inline-block w-16 text-ellipsis overflow-hidden whitespace-nowrap text-center align-bottom transition-all relative">
          {{ .LinkTitle }}
        </li>
      {{ end }}
      <li class="text-center py-1 px-2 rounded-md border w-16 bg-teal-50 inline-block relative">{{ $remains }}+</li>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow-md bg-base-100 rounded-lg max-h-[230px] z-[1] overflow-y-auto block">
        {{ range $records }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    </ul>
  {{ else }}
    <ul class="-space-x-8 hover:-space-x-0 term-categories">
      {{ range $records }}
        <li
          class="py-1 px-2 rounded-md border bg-teal-50 inline-block w-16 text-ellipsis overflow-hidden whitespace-nowrap text-center align-bottom transition-all relative">
          {{ .LinkTitle }}
          <a class="absolute top-0 bottom-0 left-0 right-0" href="{{ .RelPermalink }}"></a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
