{{/*  
  分页模版
  context: Paginator
*/}}

{{ $p := . }}
{{/* TODO: 每页大小，默认5，后续通过配置文件修改  */}}
{{ $sizePerPage := default 5 site.Params.paginate }}
{{/*  是否有前一页  */}}
{{ $hasPrev := $p.HasPrev }}
{{/*  是否有后一页  */}}
{{ $hasNext := $p.HasNext }}
{{/*  当前页码  */}}
{{ $current := $p.PageNumber }}
{{/*  分页数量  */}}
{{ $totalPage := $p.TotalPages }}
{{/*  总文章数量  */}}
{{ $totalPosts := $p.TotalNumberOfElements }}

<nav class="pagination">
  <span class="pagination__span"></span>
  <ul class="pagination__ul">
    {{/*  上一页图标  */}}
    {{ if gt $current 1 }}
      <li class="pagination__li">
        <a class="pagination__a" href="{{ $p.Prev.URL }}">{{partial "icon.html" "left" }}</a>
      </li>
    {{ end }}

    {{/*  首页  */}}
    <li class="pagination__li {{ if eq $current 1 }}pagination__li--active{{ end }}">
      <a class="pagination__a" href="{{ $p.First.URL }}">1</a>
    </li>

    {{/*  省略号  */}}
    {{ if ge $current 3 }}
      <li class="pagination__li">&hellip;</li>
    {{ end }}

    {{/*  当前页 -1  */}}
    {{ if gt (add $current -1) 1 }}
      <li class="pagination__li pagination__li--not-mobile">
        <a class="pagination__a" href="{{ $p.Prev.URL }}">{{ add $current -1 }}</a>
      </li>
    {{ end }}

    {{/*  当前页  */}}
    {{ if and (gt $current 1) (ne $current $totalPage) }}
      <li class="pagination__li pagination__li--active">
        <a class="pagination__a">{{ $current }}</a>
      </li>
    {{ end }}

    {{/*  当前页 +1  */}}
    {{ if lt (add $current 1) $totalPage }}
      <li class="pagination__li pagination__li--not-mobile">
        <a class="pagination__a" href="{{ $p.Next.URL }}">{{ add $current 1 }}</a>
      </li>
    {{ end }}
    
    {{/*  省略号  */}}
    {{ if le $current (sub $totalPage 2) }}
      <li class="pagination__li">&hellip;</li>
    {{ end }}

    {{/*  尾页  */}}
    {{ if gt $totalPage 1 }}
      <li class="pagination__li {{ if eq $current $totalPage }}pagination__li--active{{ end }}">
        <a class="pagination__a" href="{{ $p.Last.URL }}">{{ $totalPage }}</a>
      </li>
    {{ end }}


    {{/*  下一页图标  */}}
    {{ if lt $current $totalPage }}
      <li class="pagination__li">
        <a class="pagination__a" href="{{ $p.Next.URL }}">{{ partial "icon.html" "right" }}</a>
      </li>
    {{ end }}
  </ul>
</nav>
